{:remote-repo {:git-url "https://github.com/scicloj/stats_with_clojure"
               :branch "main"}
 :format [:quarto]
 :quarto {:toc true
          :toc-depth 4
          :number-sections true
          :theme "quarto"}}
